.game {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
}

.palayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 50px;
    background: url(./images/plane.png) no-repeat;
    background-size: contain;
}